<div class="row">
  <div class="bmi-iconBox col"></div>
  <div class="col">
      <div class="bmi-inputBox">
          <form action="">
              <label for="myHeight" class="mb-2">身高
                  <span>cm</span>
              </label>
              <input type="text" name="" id="myHeight" class="rounded mb-3" placeholder="">
              <label for="myWeight" class="mb-2">體重
                  <span>kg</span>
              </label>
              <input type="text" name="" id="myWeight" class="rounded" placeholder="">
          </form>
      </div>
  </div>
  <div class="bmi-btnBox col pt-4">
      <button id="send" class="send-btn">
          <span class="hit">看結果</span>
          <p class="bmi-value"></p>
          <p class="bmi-onBtn">BMI</p>
          <div class="btn-load-none"></div>
      </button>
      <span class="diagnosis"></span>
  </div>
</div>
