<div class="row">
  <div class="bmi-iconBox col"></div>
  <div class="col">
      <div class="bmi-inputBox">
          <form action="">
              <label for="myHeight" class="mb-2">身高
                  <span>cm</span>
              </label>
              <input type="text" id="userHeight" class="rounded mb-3" placeholder="" [(ngModel)]="userHeight" name="userHeight" required>
              <label for="myWeight" class="mb-2">體重
                  <span>kg</span>
              </label>
              <input type="text" id="userWeight" class="rounded" placeholder="" [(ngModel)]="userWeight" name="userWeight" required>
          </form>
      </div>
  </div>
  <div class="bmi-btnBox col pt-4">
      <button id="send" class="send-btn" (click)="this.userData.next({height:userHeight, weight:userWeight})">
          <span class="hit">看結果</span>
          <p class="bmi-value"></p>
          <p class="bmi-onBtn">BMI</p>
          <div class="btn-load-none"></div>
      </button>
      <span class="diagnosis"></span>
  </div>
</div>
